@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    /* Colors  */

    /* Primary  */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral */

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Typography */

    --font-size: 15px;
    --font-family: Poppins;
    --font-size: 15px;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-b0ld: 600;

    /* Utility */
    --mb: 20px;
}

body {
    height: 100vh;
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--very-light-gray);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;
}

h2,
h3,
h4,
p {
    margin: 0;
}

p {
    color: var(--grayish-blue);
}

.feature {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.feature__header {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5rem;
}

.feature__header--thin {
    font-weight: var(--fw-light);
}

.feature__header--bold {
    font-weight: var(--fw-b0ld);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature__header--normal {
    font-size: 0.938rem;
}

.card {
    max-width: 18.75rem;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 30px;
    display: block;
    margin-bottom: 24px;
    box-shadow: hsl(230, 55%, 90%) 0px 5px 15px 0px;
    display: grid;
    flex-direction: column;
    gap: 0.3rem;
}

.card__title {
    font-size: 1.2rem;
}

.card__text {
    font-size: 0.8rem;
    color: var(--grayish-blue);
    margin-bottom: 2rem;
}

.card__image {
    justify-self: end;
}

.card__supervisor {
    border-top: 4px solid var(--cyan);
}

.card__team-builder {
    border-top: 4px solid var(--red);
}

.card__karma {
    border-top: 4px solid var(--orange);
}

.card__calculator {
    border-top: 4px solid var(--blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
    .feature__header--normal {
        max-width: 31.25rem;
    }

    .feature__header {
        font-size: 1.5rem;
    }

    .feature__header--bold {
        font-size: 2.260rem;
    }

}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .card {
        max-width: 22.667rem;
    }

    .feature__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .grid__one {
        display: grid;
        grid-template-rows: repeat(4, 0.5fr);
    }

    .card__supervisor {
        grid-row: 2 / span 2;
    }

    .grid__three {
        display: grid;
        grid-template-rows: repeat(4, 0.5fr);
    }

    .card__calculator {
        grid-row: 2 / span 2;
    }
}